<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link
            rel="stylesheet"
            data-name="vs/editor/editor.main"
            href="./min/vs/editor/editor.main.css"
    />
    <link rel="stylesheet" href="./style.css">
    <script>
        var require = { paths: { vs: './min/vs' } };
    </script>

    <script src="./min/vs/loader.js"></script>
    <script src="./min/vs/editor/editor.main.nls.js"></script>
    <script src="./min/vs/editor/editor.main.js"></script>
    <script src="./components/star-button.js"></script>
    <script src="./components/wsInput.js"></script>

    <title>RtLog 实时日志</title>
</head>
<body>

<div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
    <div class="wheel"></div>
    <div class="hamster">
        <div class="hamster__body">
            <div class="hamster__head">
                <div class="hamster__ear"></div>
                <div class="hamster__eye"></div>
                <div class="hamster__nose"></div>
            </div>
            <div class="hamster__limb hamster__limb--fr"></div>
            <div class="hamster__limb hamster__limb--fl"></div>
            <div class="hamster__limb hamster__limb--br"></div>
            <div class="hamster__limb hamster__limb--bl"></div>
            <div class="hamster__tail"></div>
        </div>
    </div>
    <div class="spoke"></div>
</div>
<div class="header item-left">
    <h2>实时日志</h2>
    <button is="star-button" id="clearBtn">清空日志</button>
    <ws-input></ws-input>
    <p style="color: #6fc3df">默认展示当前项目日志，输入 websocket 链接可自定义</p>
</div>

<div id="container" >
    <div class="card">
        <div class="card__content">
            <div id="editor"></div>
        </div>
    </div>

</div>
<script src="./websocket/ws.js"></script>
<script src="./index.js"></script>
</body>


</html>